
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* GOOGLE FONTS */
@font-face {
  font-family: alex_brush;
  src: url(/assets/fonts/alex_brush/AlexBrush-Regular.ttf);
}
@font-face {
  font-family: sacramento;
  src: url(/assets/fonts/sacramento/Sacramento-Regular.ttf);
}

html, body {
  margin: 0;
  padding: 0;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.content.show {
  height: auto;
  max-height: 9999px;
  padding: 25px 0;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}