/* Component.module.css */
.spanLeft {
    animation: anim 1s linear forwards;
    animation-delay: 1s;
    bottom: 0;
    left: 0;
}

.spanCenter {
    animation: anim 1s linear forwards;
    animation-delay: 2s;
    box-shadow: 0 0 50px #000;
    left: 0;
    transform: skewX(26.5deg);
    transform-origin: top left;
    top: 0;
    z-index: 2;
}

.spanRight {
    animation: anim 1s linear forwards;
    animation-delay: 3s;
    bottom: 0;
    right: 0;
}

@keyframes anim {
    100% {
        height: 100%;
    }
}